<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddBook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/navbar.css" rel="stylesheet">
    <!--    <link href="/css/login.css" rel="stylesheet">-->
    <style>
  h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .custom-input {
	height: 200px;
}
input{
    margin-bottom: 25px;
}
label{
font-weight: bold;
}

  .image-container {
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px dashed #000;
    margin: auto;

  }
  #imageFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 1px dashed #000;
    box-sizing: border-box;
    margin: auto;
  }
  footer {
  margin-top: 20px;
  text-align: right;
}

.error p{
  color: red;
}

    </style>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="header nav-item">
                    <a class="nav-link" href="/admin" style="color: black;"><img src="/assets/home.png">Trang chủ</a>
                </li>
                <li class="header nav-item">
                    <a class="nav-link" href="/admin" style="color: black;"><img src="/assets/admin.png">Admin</a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
<!--                    <a class="nav-link btn btn-light" th:href="@{/logout}">-->
<!--                        <img src="/assets/logout.png">-->
<!--                        Đăng xuất-->
<!--                    </a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>


<form th:action="@{/admin/saveBook}" object="*{book}" id="bookForm" method="post" enctype="multipart/form-data">

    <input type="hidden" th:field="*{isEditMode}" name="isEditMode" id="isEditMode" value="true">

    <h1>Sách</h1>
    <div th:if="${errorMessage}" th:class="'alert alert-danger text-center'" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="errorContainer"></div>
    <div th:if="${errorHtml}">
        <p th:utext="${errorHtml}"></p>
    </div>

    <div id="successMessage" style="display: none;" class="alert alert-success text-center" role="alert">
        Lưu thành công!
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Phần bên trái -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="title" class="form-label" style="display: block;">Tiêu đề*</label>
                        <input type="text" class="form-control" th:field="*{book.title}" id="title"
                               th:disabled="${isEditMode}" required>
                        <p th:if="${#fields.hasErrors('book.title')}" th:errors="*{book.title}" class="text-danger"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author" class="form-label" style="display: block;">Tác giả*</label>
                        <input type="text" class="form-control" th:field="*{book.author}" id="author"
                               th:disabled="${isEditMode}" required>
                        <p th:if="${#fields.hasErrors('book.author')}" th:errors="*{book.author}"
                           class="text-danger"></p>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="description" class="form-label" style="display: block;">Mô tả</label>
                        <textarea class="form-control custom-input" id="description" th:field="*{book.description}"
                                  th:disabled="${isEditMode}"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="releaseDate" class="form-label" style="display: block;">Ngày phát hành*</label>
                        <input type="date" class="form-control" id="releaseDate" th:value="${book.releaseDate}"
                               th:disabled="${isEditMode}"
                               required>
                        <div class="form-group col-md-6">
                            <label for="pageCount" class="form-label" style="display: block;">Số trang</label>
                            <input type="number" class="form-control" id="pageCount" th:field="*{book.pageCount}"
                                   th:disabled="${isEditMode}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="price" class="form-label" style="display: block;">Giá</label>
                            <input type="number" class="form-control" id="price" th:field="*{book.price}"
                                   th:disabled="${isEditMode}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState" class="form-label" style="display: block;">Thể loại</label>
                            <select id="inputState" class="form-select" th:field="*{book.category}"
                                    th:disabled="${isEditMode}">
                                <option value="" selected>Chọn...</option>
                                <option value="Sách giáo khoa">Sách giáo khoa</option>
                                <option value="Sách tham khảo">Sách tham khảo</option>
                                <option value="Truyện tranh">Truyện tranh</option>
                                <option value="Truyện ngôn tình">Truyện ngôn tình</option>
                                <option value="Truyện ngắn">Truyện ngắn</option>
                                <option value="Tiểu thuyết">Tiểu thuyết</option>
                                <option value="Truyện ngụ ngôn">Truyện ngụ ngôn</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <!-- Phần bên phải -->
                <h5>Upload file ảnh</h5>
                <input type="file" id="imageUpload" name="image" accept="image/png, image/jpeg"
                       onchange="previewAndResizeImage(event)" style="margin:10px 0;" th:disabled="${isEditMode}">
                <div class="image-container">
                    <!-- Khung hiển thị ảnh -->
                    <div id="imageFrame"></div>
                    <canvas id="previewCanvas" style="display: none;"></canvas>
                    <img id="previewImage" th:src="${book.getPhotosImagePath()}" alt="Preview">
                </div>
            </div>
        </div>
    </div>

    <hr> <!-- Đường thẳng ngăn cách -->
    <footer>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-auto">

                    <div th:if="${isEditMode}">
                        <!-- Nút "Sửa" -->
                        <button type="submit" class="btn btn-primary" id="editSaveButton">Sửa</button>
                    </div>
                    <div th:unless="${isEditMode}">
                        <!-- Nút "Thêm" -->
                        <button type="submit" class="btn btn-success" id="saveButton">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</form>

<script>
  function previewAndResizeImage(event) {
    var file = event.target.files[0];
    var reader = new FileReader();
    reader.onload = function() {
      var img = new Image();
      img.onload = function() {
        var frameWidth = 300;
        var frameHeight = 400;
        var frameRatio = frameWidth / frameHeight;
        var imageRatio = img.width / img.height;
        var drawWidth, drawHeight, drawX, drawY;

        if (imageRatio > frameRatio) {
          drawWidth = frameWidth;
          drawHeight = frameWidth / imageRatio;
          drawX = 0;
          drawY = (frameHeight - drawHeight) / 2;
        } else {
          drawWidth = frameHeight * imageRatio;
          drawHeight = frameHeight;
          drawX = (frameWidth - drawWidth) / 2;
          drawY = 0;
        }

        var canvas = document.createElement('canvas');
        canvas.width = frameWidth;
        canvas.height = frameHeight;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(img, drawX, drawY, drawWidth, drawHeight);

        var previewImage = document.getElementById('previewImage');
        previewImage.src = canvas.toDataURL();
        previewImage.style.display = 'block';
      };
      img.src = reader.result;
    };
    reader.readAsDataURL(file);
  }



  function resizeImageForView() {
    var previewImage = document.getElementById('previewImage');
    if (previewImage.src !== '') {
      var frameWidth = 300;
      var frameHeight = 400;
      var frameRatio = frameWidth / frameHeight;
      var imageRatio = previewImage.width / previewImage.height;
      var drawWidth, drawHeight, drawX, drawY;

      if (imageRatio > frameRatio) {
        drawWidth = frameWidth;
        drawHeight = frameWidth / imageRatio;
        drawX = 0;
        drawY = (frameHeight - drawHeight) / 2;
      } else {
        drawWidth = frameHeight * imageRatio;
        drawHeight = frameHeight;
        drawX = (frameWidth - drawWidth) / 2;
        drawY = 0;
      }

      var canvas = document.createElement('canvas');
      canvas.width = frameWidth;
      canvas.height = frameHeight;
      var ctx = canvas.getContext('2d');
      ctx.drawImage(previewImage, drawX, drawY, drawWidth, drawHeight);

      previewImage.src = canvas.toDataURL();
      previewImage.style.display = 'block';
    }
  }

  window.onload = function() {
  var previewImage = document.getElementById('previewImage');
  if (previewImage.src !== '') {
    previewImage.style.display = 'block';
    previewImage.onload = resizeImageForView;
    resizeImageForView();
  }
};

  ///////////////////////////////////////////
  // Lấy các phần tử DOM cần điều chỉnh
var titleInput = document.getElementById('title');
var authorInput = document.getElementById('author');
var descriptionInput = document.getElementById('description');
var releaseDateInput = document.getElementById('releaseDate');
var pageCountInput = document.getElementById('pageCount');
var priceInput = document.getElementById('price');
var categoryInput = document.getElementById('inputState');
var imageUploadInput = document.getElementById('imageUpload');
var editSaveButton = document.getElementById('editSaveButton');
var bookForm = document.getElementById('bookForm');
var isEditMode = document.getElementById('isEditMode');

function handleEditSaveButtonClick(event) {
  event.preventDefault();

  if (editSaveButton.innerHTML === 'Sửa') {
    // Sáng các trường để sửa
    titleInput.removeAttribute('disabled');
    authorInput.removeAttribute('disabled');
    descriptionInput.removeAttribute('disabled');
    releaseDateInput.removeAttribute('disabled');
    pageCountInput.removeAttribute('disabled');
    priceInput.removeAttribute('disabled');
    categoryInput.removeAttribute('disabled');
    imageUploadInput.removeAttribute('disabled');

    // Thay đổi giao diện nút từ "Sửa" thành "Lưu"
    editSaveButton.innerHTML = 'Lưu';
  } else {
    // Hiển thị thông báo xác nhận
    var confirmed = confirm("Bạn có chắc chắn muốn lưu không?");

    if (confirmed) {
      handleSaveButtonClick(event);
    } else {
      // Nếu người dùng không xác nhận, không có hành động lưu nào được thực hiện
    }
  }
}

// Gắn sự kiện click cho nút "Sửa"/"Lưu"
editSaveButton.addEventListener('click', handleEditSaveButtonClick);

function handleSaveButtonClick(event) {
  event.preventDefault();

  // Lấy giá trị ID từ URL
  var urlParams = new URLSearchParams(window.location.search);
  var bookId = urlParams.get('bookId');

  // Gán giá trị được chọn trong phần tử <select> cho trường category của đối tượng book
  var selectedCategory = categoryInput.value;

  var formData = new FormData();
  formData.append('bookId', bookId);
  formData.append('isEditMode', 'true');
  formData.append('title', titleInput.value);
  formData.append('author', authorInput.value);
  formData.append('description', descriptionInput.value);
  formData.append('releaseDate', releaseDateInput.value);
  formData.append('pageCount', pageCountInput.value);
  formData.append('price', priceInput.value);
  formData.append('category', selectedCategory); // Sửa thành 'category'
  formData.append('image', imageUploadInput.files[0]);
  // Thêm các trường dữ liệu khác vào formData tương ứng

  $.ajax({
    url: "/admin/saveBook",
    method: "POST",
    data: formData,
    processData: false,
    contentType: false,
    success: function(response) {
      if ($(response).find('.error').length) {
        // Trang HTML chứa lỗi
        var errorHtml = $(response).find('.error').html();
        $('#errorContainer').html(errorHtml);

        console.log(response);
      } else {
        // Hiển thị thông báo lưu thành công
        $('#successMessage').show();

        // Chờ một khoảng thời gian (ví dụ: 2 giây) để người dùng thấy thông báo
        setTimeout(function() {
          // Chuyển hướng trang
          window.location.href = "/admin";
        }, 2000); // Thời gian chờ 2 giây (2000ms)
      }
    },
    error: function(xhr, status, error) {
      console.log(error);
    }
  });
}

</script>


</body>
</html>